{
  "presets": [
    [
      "env",
      {
        "modules": false,
        "target": {
          "browsers": ["last 10 versions"]
        },
        "useBuiltIns": true
      }
    ],
    "stage-2"
  ],
  "plugins": [
    "syntax-dynamic-import",
    "transform-async-to-generator",
    "transform-vue-jsx"
  ]
}
